@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    display: flex;
    flex-direction: column;

}

.image-container {
	position: relative;
	display: inline-block;
}
  
.image-container img {
	display: inline-flex;
	max-width: 100%;
}
  
.text {
	position: absolute;
	top: 30%; 
	left: 20%; 
	transform: translate(-50%, -50%); 
	color: #fff; 
	padding: 10px 20px; 
	font-size: 20px; 
	text-align: center;
}

h2 {
    padding: 2%;
    text-align: center;
	font-size: 34px;
}

.lower > p {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem 4rem;
    padding-bottom: 2rem;
}

.socials {
	display: flex;
	justify-content: center;
	gap: 5rem;
	padding-bottom: 2rem;
}

.socials > img {
	width: auto;
	height: 4rem;
}
