#title {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    max-width: 50rem;
    min-height: auto;
    margin: auto;
    background: white;
    padding: 1rem;
}

#welcome-text {
    flex: 1; 

}

#greeting-msg {
    padding: 1rem;
}

#recipe-showcase {
    background-color: #ffffff;
    max-width:100%;
    min-height: 25rem;
}
.midsection-title {
    text-align: center;
    color: #000000;
    font-weight: bolder;
}
.midsection-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 80rem;
    justify-content: center;
    padding-bottom: 2rem;
}
.image-showcase {
    max-width: 250px;
    min-height: 250px;
    margin: auto;
    padding: 1rem;
    transition: all .2s ease-in-out; 
}
.image-showcase:hover {
    cursor:pointer;
    transform: scale(1.1); 
}
.image-showcase img {
    max-height: 15rem;
    max-width: auto;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    padding: 1rem;
}
.square > p {
    text-align: center;
    padding-top: 5px;
    color: black;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#recipe-info {
    display: flex;
    justify-content: center;
    align-items:start;
    flex-wrap: wrap;
    background-color: white;
}

#recipe-img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    padding: 0 0 2rem 4rem; 

}

#recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingredients {
    background-color: rgb(255, 255, 255);
    height: auto; 
    width: 30rem;
    overflow: scroll;
    scrollbar-color: #cd926a #e8e8e8;
    padding: 0 2rem 2rem 2rem; 
}

#ingredients-list {
    padding-left: 2rem;
}

#instructions {
    background-color: white;
    min-height: 100%; 
    max-width: 50rem;
    margin: auto;
    padding: 0 2rem 2rem 2rem; 
}

#h3-center {
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}

#randomize-btn {
	background-color:#cd926a;
	border-radius: 6px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	padding:7px 31px;
	text-decoration:none;
}
#randomize-btn:hover {
	background-color: #ebc9b2;
}
#randomize-btn:active {
	position: relative;
	top:1px;
}

@media (max-width: 768px) {
    #recipe-img {
        object-fit: cover;
        width: 20rem;
        height: 20rem;
        padding: 1rem; 
    
    }

}