.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
}
#recipe-title {
    text-align: center;
    margin-bottom: 3rem;
}

#recipe-info {
    display: flex;
    justify-content: center;
    align-items:start;
    flex-wrap: wrap;
    background-color: white;
}

#recipe-img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    padding: 0 0 2rem 4rem; 

}

#recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingredients {
    background-color: rgb(255, 255, 255);
    height: auto; 
    width: 30rem;
    overflow: scroll;
    scrollbar-color: #cd926a #e8e8e8;
    padding: 0 2rem 2rem 2rem; 
}

#ingredients-list {
    padding-left: 2rem;
}

#instructions {
    background-color: white;
    min-height: 100%; 
    max-width: 50rem;
    margin: auto;
    padding: 0 2rem 2rem 2rem; 
}

#h3-center {
    padding: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

@media (max-width: 768px) {
    #recipe-img {
        object-fit: cover;
        width: 20rem;
        height: 20rem;
        padding: 1rem; 
    
    }

}