body {
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 2%;
    text-align: center;
}

ul {
    text-align: center;
    padding: 2rem;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover{
    color: #cd926a;
}

#notFoundMessage {
    text-align: center;
    padding: 1rem;
}

#input {
    display: inline-block;
    min-width: 30rem;
    background-color: #ffffff;
    color: #000000;
    padding: .15rem .5rem;
    min-height: 3rem;
    border-radius: 4px;
    outline: none;
    border: solid;
    border-color: #cd926a;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    margin-left: auto;
    margin-right: auto;
}

#input:hover {
    outline: 1px solid lightgrey;
}

.hidden {
    display: none;
}

#list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: .1rem;
    grid-row-gap: 2rem; 
    margin: 0 5rem;
}
.recipes {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.recipes img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.recipes:hover {
    transform: scale(1.1); 
}

.recipes a {
    display: block;
    flex-grow: 1; 
}

.recipes p {
    margin-top: 8px;
    text-align: center; 
}

@media (max-width: 768px) {
    #input {
        min-width: 50%;
        max-height: auto; 
    }

    #list {
        display: flex;
        flex-direction: column;
    }
}