@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#title {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: 
    rgb(212, 122, 122);
    text-align: center;
    max-width: 50rem;
    min-height: auto;
    margin: auto;
    margin-top: 5rem;
    border-radius: 20px;
}


#welcome-text {
    flex: 1; 
    padding: 10px;
}

#recipe-showcase {
    background-color: #ffffff;
    max-width:100%;
    min-height: 25rem;
}

.midsection-title {
    text-align: center;
    color: #000000;
    font-weight: bolder;
    padding-top: 3rem;
}

.midsection-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 65%;
    padding: 20px;
    justify-content: center;
    gap: 3rem;
}

.border {
    max-width: 250px;
    min-height: 250px;
    margin: auto;
}

.border img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: rgb(212, 122, 122);
    border-style: solid;
}

.square {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.square > p {
    text-align: center;
    padding-top: 5px;
    color: black;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}
#recipe-info {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}

#recipe-img {
    max-width: 20rem;
    margin: auto;
}

#ingredients, #instructions {
    padding: 2rem;
    background-color: white;
    min-height: 100%; 
    max-width: 40%;
}


#h3-center {
    text-align: center;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}

#randomize-btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#randomize-btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
#randomize-btn:active {
	position:relative;
	top:1px;
}
