@media (max-width: 1200px) {
    .left, .main, .right {
      width: 100%;
  }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

#title {
    display: flex;
    background-color: 
    rgb(255, 222, 222);
    text-align: center;
    width: 50rem;
    height: 20rem;
    margin-top: 5rem;
    margin-left: 20rem;
    align-items: center;
    border-radius: 20px;
}

#welcome-img {
    width: 20rem;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

#welcome-text {
    flex: 1; 
    padding: 10px;
}

#recipe-showcase {
    background-color: #ffffff;
    width:100%;
    height: 25rem;
}

.midsection-title {
    text-align: center;
    color: #2591AC;
    font-weight: bolder;
    padding-top: 3rem;
}

.midsection-container {
    display: flex;
    margin: auto;
    width: 65%;
    padding: 20px;
    justify-content: space-between;
}

.border {
    width: 150px;
    height: 150px;
    margin: auto;
}

.border img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 12px;
    border-radius: 15px;
    border: #2591AC;
    border-style: solid;
}

.square {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.square > p {
    text-align: center;
    padding-top: 5px;
    color: black;
}

.top-container {
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 30rem; 
    overflow-y: auto; 
}

#ingredients, #instructions {
    padding: 10px;
    text-align: center;
    background-color: bisque;
    height: 100%; 
    width: 40%;
}

.bottom-container {
    display: flex;
    background-color: bisque;
    justify-content: center;
}

.hidden {
    display: none;
}

li {
    list-style-type: none;
}